@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #7c59b0;
  --border-radius: 5px;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  min-height: 150vh;
  margin: 0;
}
h1 {
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 375px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
}
h1:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}
.item:hover {
  background: rgba(0, 0, 0, 0.6);
}
a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}
.name {
  margin-top: 20px;
  margin-right: 20px;
}
.name img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: sub;
}
/* Modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.close-icon {
  float: right;
  color: white;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}
.modal-header {
  background: linear-gradient(
      217deg,
      rgba(245, 4, 65, 0.849),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(74, 155, 107), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(59, 149, 253), rgba(0, 0, 255, 0) 70.71%);
  color: white;
  padding: 15px;
}
h3 {
  margin: 0;
}
.modal-content {
  padding: 20px;
  background: rgb(255, 247, 254);
}
.form-group {
  height: 55px;
}
.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}
.form-label {
  color: var(--primary-color);
  display: block;
}
button {
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: linear-gradient(
      217deg,
      rgba(245, 4, 65, 0.849),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(74, 155, 107), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(59, 149, 253), rgba(0, 0, 255, 0) 70.71%);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 12px;
}
button:hover {
  filter: brightness(110%);
}
button:focus {
  outline: none;
}
/* Responsiveness  Large Smartphone(Vertical)*/
@media (max-width: 600px) {
  h1 {
    width: 320px;
    padding: 10px;
  }
  .container {
    flex-direction: column;
  }
}
